[Unit]
Description=Prometheus Blackbox Exporter
Documentation=http://www.prometheus.io
Wants=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/opt/prometheus-blackbox-exporter/{{ prometheus_blackbox_exporter_extracted_dir_name }}

User={{ prometheus_blackbox_exporter_user }}
Group={{ prometheus_blackbox_exporter_group }}

ExecStart=/opt/prometheus-blackbox-exporter/{{ prometheus_blackbox_exporter_extracted_dir_name }}/blackbox_exporter --config.file=/opt/prometheus-blackbox-exporter/config/blackbox.yml --web.listen-address="{{ prometheus_blackbox_exporter_bind }}"

[Install]
WantedBy=multi-user.target
